send relay messages to a list of destination addresses

[RFC3315 section 20](https://tools.ietf.org/html/rfc3315#section-20):

>The relay agent MAY be configured to use a list of destination
   addresses, which MAY include unicast addresses, the All_DHCP_Servers
   multicast address, or other addresses selected by the network
   administrator.

I guess we have to make a change here: https://github.com/sbyx/odhcpd/blob/master/src/dhcpv6.c#L533